@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}

.container {
    width: 340px;
    height: 680px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.display {
    width: 90%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background: #FBE9E7;
    border-radius: 25px;
    padding: 10px;
}

.brands {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    border: 1px solid lightgray;
    margin: 0 3px;
    border-radius: 10px;
    background: white;
}

.brand img {
    width: 100%;
    border-radius: 10px;
}

.bestProducts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.product {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}

.product::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#F8BBD0, #FCE4EC);
    clip-path: circle(30% at 35% 28%);
}

.product img {
    width: 60%;
    transform: rotateZ(-30deg);
}

.stars {
    color: #FFA000;
}

.btnCart {
    position: absolute;
    bottom: 40px;
    background-color: #4285f4;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 1.2rem;
}

.disconect {
    display: none
}

.activProducts {
    width: 100%;
    height: 100%;
}

.activProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#FCE4EC, #F8BBD0);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

#cart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #4285f4;
    color: white;
}

#back {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #0f9d58;
    color: white;
    font-size: 1.5rem;
}

#number {
    position: absolute;
    right: 12px;
    bottom: 50px;
    width: 100px;
    height: 36px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.cart {
    position: absolute;
    top: -1200px;
    left: 18px;
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    background: linear-gradient(#FCE4EC, #F8BBD0);
    border-radius: 25px;
    padding: 10px;
    transition: 0.2s;
}

.cart ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.cart img {
    width: 20%;
}

.cart button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #0f9d58;
    color: white;
}

.active {
    top: 70px;
}